.mainContent.editCustDetails{
	/*width: 100%;*/
}
.feildName{
	padding: 0px;
}
.custIdVal{
	width: 80px;
}
.custIdVal:focus{
	border-bottom: none !important;
}
.customerIdField div{
	float: left;
	width: 100px;
	border: 1px solid;
	margin-right: 6px;
	border-radius: 2px;
}
#cust-details-container .editImg{
	display: block;
}
#cust-details-container .details-container{
	border: 1px solid;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 25px;
    margin-top: 5px;
}
.search-customer, .get-cid, .clearCustId{
	width: 14px;
	cursor: pointer;	
}
.search-customer, .get-cid{
	vertical-align: bottom;
}
.clearCustId{
	width: 12px;
}
#updateCustDetails{
	border-radius: 6px;
	display: none;
}
.customerCidPopup{
	width: 1000px !important;
	left: calc(50% - 500px);
}
#commonModalBodyDiv{
	overflow-x: hidden;
	height: 530px !important;
}
.customerCidPopup table thead{
	/*position: fixed;
	margin-top: -30px;*/
}
/*.customerCidPopup table input{
	background-color: wheat;
}*/
.customerCidPopup{
	padding: 10px;
}
.customerCidPopup table input.serialNo,
.customerCidPopup table input.cid{
	width: 70px;
}
.customerCidPopup table input.CustomerName,
.customerCidPopup table input.FatherName{
	width: 190px;
}
.customerCidPopup table input.Address{
	width: 370px;
}
.customerCidPopup table input.serialNo,
.customerCidPopup table input.cid,
.customerCidPopup table input.CustomerName,
.customerCidPopup table input.FatherName,
.customerCidPopup table input.Address{
	border: 1px solid;
	margin: 10px 0px;
}
#customerCidListTable_filter{
	padding-right: 18px;
}

#customerCidListTable thead th{
	text-align: center;
}
.customerCidPopup .commonModalFooterDiv input{
	margin: 0px 7px;
	width: 100px;
	text-align: center;
}
.cidSelected{
	background-color: lightgrey !important;
}
#customerCidListTable tbody tr{
	cursor: pointer;
}
.customerBillListPanel .tab-pane{
	padding: 20px;
}
.customerBillListPanel table{
	margin: auto;
}
.customerBillListPanel table thead tr{
	height: 33px;
}
.customerBillListPanel table tbody tr{
	height: 25px;
}
.customerBillListPanel .tab-content{
	border: 1px solid #e7e7e7;
}
.customerBillListPanel{
	padding-top: 40px;
}

.customerIdField{
	padding: 0px;
}
.clearCustId{
	display: none;
}
#cust-details-container .fieldsOverlay{
	position: absolute;
	height: calc(100% - 54px);
	background-color: blue;
	z-index: 2;
	background: rgba(255, 255, 255, 0);
	margin-top: -12px;
	cursor: not-allowed;
}
#editCustDetails:disabled, #updateCustDetails:disabled{
	background: rgba(169, 169, 169, 0.65);
	cursor: not-allowed;
}
#editCustDetails, #updateCustDetails{
    width: 100px;
    border-radius: 20px;
    box-shadow: none;
    border: none;
}