
<div class="col-sm-6 options">
    <label class='col-sm-6'>Name:</label><div class='clearfix'></div>
    <label class='col-sm-12 font-weight0'><input type="radio" name="cname" checked='checked' value='<%= myData.b_cname %>'/><%= myData.b_cname %></label>
    <label class='col-sm-12 font-weight0'><input type="radio" name="cname" value='<%= myData.o_cname %>'/><%= myData.o_cname %></label>
</div>
<div class="col-sm-6 options">
    <label class='col-sm-6'>Father Name:</label><div class='clearfix'></div>
    <label class='col-sm-12 font-weight0'><input type="radio"  name="gname" checked='checked' value='<%= myData.b_fgname %>'/><%= myData.b_fgname %></label>
    <label class='col-sm-12 font-weight0'><input type="radio"  name="gname" value='<%= myData.o_fgname %>'/><%= myData.o_fgname %></label>
</div>
<div class="col-sm-12 options">
    <label class='col-sm-6'>Address:</label><div class='clearfix'></div>
    <label class='col-sm-12 font-weight0'><input type="radio"  name="addr" checked='checked' value='<%= myData.b_address %>'/><%= myData.b_address %> </label>
    <label class='col-sm-12 font-weight0'><input type="radio"  name="addr" value='<%= myData.o_address %>'/><%= myData.o_address %> </label>
</div>
<div class="col-sm-6 options">
    <label class='col-sm-6'>Address 2:</label><div class='clearfix'></div>
    <label class='col-sm-12 font-weight0'><input type="radio"  name="addr2" checked='checked' value='<%= myData.b_address2 %>'/><%= myData.b_address2 %> </label>
    <label class='col-sm-12 font-weight0'><input type="radio"  name="addr2" value='<%= myData.o_address2 %>'/><%= myData.o_address2 %> </label>
</div>
<div class="col-sm-6 options">
    <label class='col-sm-6'>Place:</label><div class='clearfix'></div>
    <label class='col-sm-12 font-weight0'><input type="radio"  name="place" checked='checked' value='<%= myData.b_place %>'/><%= myData.b_place %> </label>
    <label class='col-sm-12 font-weight0'><input type="radio"  name="place" value='<%= myData.o_place %>'/><%= myData.o_place %> </label>
</div>
<div class="col-sm-6 options">
    <label class='col-sm-6'>PIN:</label><div class='clearfix'></div>
    <label class='col-sm-12 font-weight0'><input type="radio"  name="pin" checked='checked' value='<%= myData.b_pincode %>'/><%= myData.b_pincode %> </label>
    <label class='col-sm-12 font-weight0'><input type="radio"  name="pin" value='<%= myData.o_pincode %>'/><%= myData.o_pincode %> </label>
</div>
<div class="col-sm-6 options">
    <label class='col-sm-6'>Mobile No:</label><div class='clearfix'></div>
    <label class='col-sm-12 font-weight0'><input type="radio"  name="mobile" checked='checked' value='<%= myData.b_mobile %>'/><%= myData.b_mobile %> </label>
    <label class='col-sm-12 font-weight0'><input type="radio"  name="mobile" value='<%= myData.o_mobile %>'/><%= myData.o_mobile %> </label>
</div>
<div>
    <input type='button' value='Merge' class="do-merge"/>
</div>