<div class= 'webcam-modal-overlay'></div>
<div id='webcam-modal-container'>
	<div id='webcam-header'>
		Capture photo
		<img src="/images/close-icon.png" class='dismissWebcam'/>
	</div>
	<div id="webcam-body">
		<div id="camera_wrapper">
			<div id="camera"></div>
			<div id="show_saved_img"></div>
		</div>
		<div id='camera_controls'>
			<button id="capture_btn">Capture</button>
			<button id="webcamReset">Reset</button>
			<button id="deletePhoto">Delete</button>
			<button id="savePhoto">Save Photo</button>
		</div>
	</div>
	<div id="webcam-footer">
		
	</div>
</div>